In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_df = pd.read_csv(r"C:\Users\ditri\Desktop\Important\Data\Movie Lens Data\ml-latest-small\movies.csv")

In [3]:
weighted_ratings = pd.read_csv(r"C:\Users\ditri\Desktop\Important\Data\Movie Lens Data\ml-latest-small\movie_ratings_weighted.csv")

In [4]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
pattern = r"\((\d{4})\)"
movies_df['release_year'] = movies_df['title'].str.extract(pattern)

movies_df = movies_df.dropna(subset = 'release_year').copy()

movies_df['release_year'] = movies_df['release_year'].astype(np.int16)

In [6]:
movies_df.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [7]:
movies_df['genres'] = movies_df['genres'] + '|'
movies_df.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy|,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy|,1995
2,3,Grumpier Old Men (1995),Comedy|Romance|,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance|,1995
4,5,Father of the Bride Part II (1995),Comedy|,1995

In [8]:
s = movies_df['genres'].sum()

In [9]:
unique_genre = set(s.split('|'))
print(unique_genre)

{'', 'Drama', 'Sci-Fi', 'Fantasy', 'Documentary', 'Children', 'Crime', 'Film-Noir', 'Thriller', 'Action', 'Western', 'IMAX', 'Romance', '(no genres listed)', 'Animation', 'Horror', 'Mystery', 'War', 'Musical', 'Comedy', 'Adventure'}

In [10]:
unique_genre.remove('')
print(unique_genre)

{'Drama', 'Sci-Fi', 'Fantasy', 'Documentary', 'Children', 'Crime', 'Film-Noir', 'Thriller', 'Action', 'Western', 'IMAX', 'Romance', '(no genres listed)', 'Animation', 'Horror', 'Mystery', 'War', 'Musical', 'Comedy', 'Adventure'}

In [11]:
movies_df[(movies_df['genres'] == '') | (movies_df['genres'] == r'\|')]

Empty DataFrame
Columns: [movieId, title, genres, release_year]
Index: []

In [12]:
indices_to_drop = movies_df[movies_df['genres'] == '(no genres listed)|'].index

movies_df = movies_df.drop(indices_to_drop)
movies_df.shape

(9704, 4)

In [13]:
movies_new = movies_df.reset_index(drop = True)

In [14]:
unique_genre.remove('(no genres listed)')
print(unique_genre)

{'Drama', 'Sci-Fi', 'Fantasy', 'Documentary', 'Children', 'Crime', 'Film-Noir', 'Thriller', 'Action', 'Western', 'IMAX', 'Romance', 'Animation', 'Horror', 'Mystery', 'War', 'Musical', 'Comedy', 'Adventure'}

In [15]:
movies_new.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy|,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy|,1995
2,3,Grumpier Old Men (1995),Comedy|Romance|,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance|,1995
4,5,Father of the Bride Part II (1995),Comedy|,1995

In [16]:
genre_list = sorted(list(unique_genre))
print(genre_list, len(genre_list))

['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'] 19

In [17]:
movies_new['genres'] = movies_new['genres'].str[:-1]
movies_new.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [18]:
movies_new = movies_new.merge(weighted_ratings, on = 'movieId', how = 'left')
movies_new.head()

,movieId,title,genres,release_year,weighted_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.904080
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,3.437093
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,3.295312
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,3.000876
4,5,Father of the Bride Part II (1995),Comedy,1995,3.138173

In [19]:
movies_new.to_csv(r'C:\Users\ditri\Desktop\Important\Data\Movie Lens Data\ml-latest-small\movie_list_content_based.csv', index = False)

In [20]:
movies_new['genres'] = movies_new['genres'].str.split(r'\|')
movies_new.head()

,movieId,title,genres,release_year,weighted_rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1995,3.904080
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",1995,3.437093
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",1995,3.295312
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",1995,3.000876
4,5,Father of the Bride Part II (1995),[Comedy],1995,3.138173

In [21]:
n = movies_new.shape[0]

In [22]:
arr = np.zeros((n, len(genre_list)))

In [23]:
movies_new['genre_index'] = movies_new['genres'].apply(lambda x : [genre_list.index(element) for element in x])

In [24]:
movies_new

,movieId,title,genres,release_year,weighted_rating,genre_index
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1995,3.904080,"[1, 2, 3, 4, 8]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",1995,3.437093,"[1, 3, 8]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",1995,3.295312,"[4, 14]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",1995,3.000876,"[4, 7, 14]"
4,5,Father of the Bride Part II (1995),[Comedy],1995,3.138173,[4]
...,...,...,...,...,...,...
9699,193581,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]",2017,3.551401,"[0, 2, 4, 8]"
9700,193583,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]",2017,3.501401,"[2, 4, 8]"
9701,193585,Flint (2017),[Drama],2017,3.501401,[7]
9702,193587,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]",2018,3.501401,"[0, 2]"
9703,193609,Andrew Dice Clay: Dice Rules (1991),[Comedy],1991,3.551401,[4]